body {
  background: lightgray;
  display: flex;
  flex-direction: column;
  margin: 0;
}

article {
}

.info {
  min-width: 7.0in;
  max-width: 7.0in;
  border: solid 1px gray;
  margin: 0.2in auto;
  padding: 0.2in 0.5in;
  border-radius: 0.1in;
  background: #eeeeee;
}

.page {
  background: white;
  margin: auto;
  min-width: 4.5in;
  max-width: 4.5in;
  min-height: 7in;
  padding: 2in;
  margin-top: 0.1in;
}

.content {
  font-family: "Computer Modern Serif";
  display: flex;
  flex-direction: column;
}

#trademark {
  width: 0.5in;
  align-self: center;
}

h1 {
  font-family: "Computer Modern Sans";
  font-weight: normal;
  text-align: center;
  font-size: 2em;
}

h2 {
  font-family: "Computer Modern Serif";
}

h2 {
  font-family: "Computer Modern Serif";
}

h3 {
  font-family: "Computer Modern Serif";
}

h4 {
  font-family: "Computer Modern Serif";
}

p {
  line-height: 1.5em;
  font-size: 1em;
  text-align: justify;
}

.prop {
  margin: 0.1in;
}

.defn {
  margin: 0.1in;
}

.expl {
  margin: 0.1in;
}

.thm {
  margin: 0.1in;
}

.proof {
  margin: 0.1in;
}

#sheet {
  width: 8.5in;
  height: 11in;
  margin: 0.1in auto;
  border: none;
}

#graph {
  width: 8.5in;
  height: 11in;
  margin: 0.0in auto;
  border: none;
}

form.search {
  margin: 0px auto
}

input.search {
  border: none;
  border-bottom: 1px solid gray;
  margin: 3px auto;
  background: none;
  font-size: 1em;
  padding: 3px;
}

.search-results {
  display: flex;
  flex-direction:column
}

.search-result {
  cursor:pointer;
  border: 1px solid gray;
  padding 5px;
  border-radius: 3px;
  padding: 12px;
  margin:3px;
  font-family: "Computer Modern Serif";
  text-align: left;
  font-size: 1em;
  background: none;
}

.header {
  background: white;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  padding: 0.1in;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header > .left,
.header > .center,
.header > .right {
  display: flex;
  flex-direction:row;
  font-size: 1em;
}

.header > .left {
  align-items: center;
}

.header > .center {
  justify-self: center;
}

.header > .center {
  align-items: center;
}

#header-trademark {
  width: 0.3in;
  height: 0.3in;
}

.header > .left > #header-trademark {
 margin-right: 0.1in;
}
.header > .center > #header-trademark {
 margin-right: 0.1in;
}

.header > .left > h1 {
  font-size: .2in;
}
.header > .center > h1 {
  font-size: .2in;
}


.header > .center > form > input {
  max-width: 9in;
  min-width: 5in;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  margin-top: 0.07in;
  font-family: "Computer Modern Sans";
}

.subheader {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  background: white;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
  padding: 0.1in;
  align-items: center;
}

.no-border-top {
  border-top: none;
}

.no-border-bottom {
  border-bottom: none;
}

.need {
  margin: 0.05in 0.05in;
  border: 1px solid gray;
  color: black;
  background: none;
  border-radius: 3px;
  height: 0.33in;
  font-family: "Computer Modern Sans";
  font-size: 0.17in;
  padding: 0.05in 0.1in;
  vertical-align: center;
  cursor: pointer;
}

.label {
  padding: 0.05in;
  margin: 0.05in 0.05in;
  color: gray;
  font-weight: bold;
  font-family: "Computer Modern Sans";
  height: 0.33in;
  font-size: 0.17in;
  vertical-align: center;
  border: none;
}

