.DS_store
*.asv
*.aux
*.log
*.dvi
*.nav
*.out
*.snm
*~
*.swp
*.bak
*.thm
*.toc
*.vrb
*.fdb_latexmk
*.synctex.gz
*-e
latex.out

sheets/*/*.pdf
bbk/static/sheets/*.pdf
bbk/static/sheets/*.html
bbk/static/sheets/graphics/*
bbk/static/sheets/graph.csv
bbk/static/sheets/graph.graphviz
bbk/static/sheets/*.tex
