.DS_store
*.asv
*.aux
*.log
*.dvi
*.nav
*.out
*.snm
*~
*.swp
*.bak
*.thm
*.toc
*.vrb
*.fdb_latexmk
*.synctex.gz
*-e
latex.out

sheets/*/*.pdf
sheets/*/graph.csv
sheets/*/graph.graphviz
sheets/*/*.tex
bbk/static/sheets/*.pdf
bbk/static/sheets/*.html
bbk/static/results.json.gzip
bbk/static/sheets/graphics/*
