@font-face {
  font-family: 'Computer Modern Concrete Roman';
  src: url('cmcc/cmcc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Concrete Roman';
  src: url('cmcc/cmcc_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Concrete Roman';
  src: url('cmcc/cmcc_oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Concrete Roman';
  src: url('cmcc/cmcc_bold_oblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
