{
  "nodes": [
    {{ range $entry := . }}
      {"id": "{{ $entry.Name }}" },
    {{ end }}
  ],
  links: [
    {{ range $entry := . }}
      {{ range $i, $need := $entry.Needs}}
        { "source": "{{ $entry.Name }}", "target": "{{ $need }}", "value": 1},
      {{ end }}
    {{ end }}
  ],
}
