digraph G {
  node [ color = white ]
  {{ range $name, $entry := . }}
  {{ $entry.Name | printf "%q" }} [ href="https://bourbakiproject.com/sheets/{{ $entry.DirName }}.html"; color = white ]
  {{ range $i, $need := $entry.Needs}}{{ $entry.Name | printf "%q" }} -> {{ $need | printf "%q" }}
  {{ end }}{{end}}
}
