{{ range . }}
\newpage
\label{{ "{" }}{{.Name}}{{ "}" }}
\stitle{{ "{" }}{{ title .Name }}{{ "}" }}{{ "{" }}{{.Name}}{{ "}" }}
\input{{ "{" }}../sheets/{{ .Name | printf "%s" }}/macros.tex{{ "}" }}
\input{{ "{" }}../sheets/{{ .Name | printf "%s" }}/sheet.tex{{ "}" }}
\clearpage

\sheetref{{ "{" }}{{ .Name }}{{ "}" }}{{ "{" }}{{ title .Name }}{{ "}" }}
immediately needs:

{{ if .Needs }}
\begin{tabular}{l}
{{ range .Needs }}
\sheetref{{ "{" }}{{ . }}{{ "}" }}{{ "{" }}{{ title . }}{{ "}" }} \\
{{ end }}
\end{tabular}
{{else}}
Nothing.
{{end}}

\sheetref{{ "{" }}{{ .Name }}{{ "}" }}{{ "{" }}{{ title .Name }}{{ "}" }}
is immediately needed by:

{{ if .NeededBy }}
\begin{tabular}{l}
{{ range .NeededBy }}
\sheetref{{ "{" }}{{ . }}{{ "}" }}{{ "{" }}{{ title . }}{{ "}" }} \\
{{ end }}
\end{tabular}
{{else}}
Nothing.
{{end}}

\clearpage\gpage{{ "{" }}../sheets/{{ .Name }}/graph.pdf{{ "}" }}
{{ end }}
