{{ range . }}
\newpage
\stitle{{ "{" }}{{.Title}}{{ "}" }}{{ "{" }}{{.Name}}{{ "}" }}
\input{{ "{" }}../sheets/{{ .Name | printf "%s" }}/macros.tex{{ "}" }}
\input{{ "{" }}../sheets/{{ .Name | printf "%s" }}/sheet.tex{{ "}" }}
{{ end }}
