body {
  background: lightgray;
}


article {
}

.page {
  background: white;
  margin: auto;
  max-width: 8.5in;
}

.content {
  font-family: "Computer Modern Serif";
  margin: 2in;
  display: flex;
  flex-direction: column;
}

#trademark {
  width: 0.5in;
  align-self: center;
}

h1 {
  font-family: "Computer Modern Sans";
  font-weight: normal;
  text-align: center;
  font-size: 2em;
}

h2 {
  font-family: "Computer Modern Serif";
}

h2 {
  font-family: "Computer Modern Serif";
}

h3 {
  font-family: "Computer Modern Serif";
}

h4 {
  font-family: "Computer Modern Serif";
}

p {
  line-height: 1.5em;
  font-size: 1em;
  text-align: justify;
}
