body {
  background: lightgray;
  display: flex;
  flex-direction: column;
}


article {
}

.info {
  min-width: 7.0in;
  max-width: 7.0in;
  border: solid 1px gray;
  margin: 0.2in auto;
  padding: 0.2in 0.5in;
  border-radius: 0.1in;
  background: #eeeeee;
}

.page {
  background: white;
  margin: auto;
  min-width: 4.5in;
  max-width: 4.5in;
  min-height: 7in;
  padding: 2in;
}

.content {
  font-family: "Computer Modern Serif";
  display: flex;
  flex-direction: column;
}

#trademark {
  width: 0.5in;
  align-self: center;
}

h1 {
  font-family: "Computer Modern Sans";
  font-weight: normal;
  text-align: center;
  font-size: 2em;
}

h2 {
  font-family: "Computer Modern Serif";
}

h2 {
  font-family: "Computer Modern Serif";
}

h3 {
  font-family: "Computer Modern Serif";
}

h4 {
  font-family: "Computer Modern Serif";
}

p {
  line-height: 1.5em;
  font-size: 1em;
  text-align: justify;
}

.prop {
  margin: 0.1in;
}

.defn {
  margin: 0.1in;
}

.expl {
  margin: 0.1in;
}

.thm {
  margin: 0.1in;
}

.proof {
  margin: 0.1in;
}

#sheet {
  width: 8.5in;
  height: 11in;
  margin: 0.0in auto;
  border: none;
}

#graph {
  width: 8.5in;
  height: 11in;
  margin: 0.2in auto;
  border: none;
}
