<!DOCTYPE html>
<meta charset="utf-8"/>
  <head>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./fonts.css">
  </head>
  <body>
    <div class="header">
    <div class="left">
    <img src="../trademark.pdf" id="header-trademark" onclick="location.href='../index.html'" style="cursor:pointer">
    <h1> Index </h1>
    </div>
      <div class="center">
              <form method="GET" action="/search">
                <input id="search-bar" class="listing search" name="query" placeholder="search bourbaki..." autofocus/>
              </form>

      </div>
      <div class="right">
      </div>
    </div>
        <div id="main-card" class="card">
          <div class="listing ss">
            <span></span>
              <img src="../trademark.pdf" id="trademark">
            <span></span>
          </div>
          <div class="listing ss">
            <span></span>
            <span>Index</span>
            <span></span>
          </div>
          <form method="GET" action="/search">
            <input id="search-bar" class="listing" name="query" placeholder="search..."/>
          </form>
        <!--
        <img src="../trademark.pdf" id="trademark">
        <h1>HyperText Index</h1>
        -->
            <div class="listing" onclick="location.href='./sheets/introduction.pdf'">
            <span>
              Introduction to Bourbaki
            </span>
            <span>›</span>
          </div>
            <div class="listing">
            <span>
              Index
            </span>
            <span>›</span>
          </div>
          {{ range $k, $v := . }}
            <div class="listing" onclick="location.href='./sheets/{{ $v.Name }}.html'" tabindex="0" onkeypress="location.href='./sheets/{{ $v.Name }}.html'">
            <span>
              {{ title $v.Name }}
            </span>
            <span>›</span>
          </div>
          {{ end }}
        </div>
    </div>
  </body>
</html>
