<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./fonts.css">
  </head>
  <body>
    <div class="header">
    <div class="left">
    <img src="../trademark.pdf" id="header-trademark" onclick="location.href='../index.html'" style="cursor:pointer">
    <h1> Index </h1>
    </div>
      <div class="center">
              <form method="GET" action="/search">
                <input class="search" name="query" placeholder="search bourbaki..." autofocus/>
              </form>

      </div>
      <div class="right">
      </div>
    </div>
    <div class="page">
      <div class="content">
        <img src="../trademark.pdf" id="trademark">
        <h1>HyperText Index</h1>
        <a href="./sheets/introduction.html" style="margin:0px auto">View the project introduction.</a>
        <ul>
        {{ range $k, $v := . }}<li> <a href="./sheets/{{ $v.Name }}.html">{{ title .Name }}</a> </li>{{ end }}
        </ul>
    </div>
  </div>
  </body>
</html>
