<!DOCTYPE html>
<meta charset="utf-8"/>
  <head>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./fonts.css">
    <link rel="apple-touch-icon" href="./trademark.pdf">
  </head>
  <body>
    <div class="header">
      <span class="listing no-border" id="header-trademark-and-title">
        <img id="header-trademark" src="../trademark.pdf" onclick="location.href='./index.html'">
        <span id="header-title"> Index </span>
      </span>
    </div>
    <div id="main-card" class="card">
      <form method="GET" id="search-form" action="/search">
        <input id="search-input"class="listing" name="query" placeholder="search..."/>
      </form>
            <div class="listing" onclick="location.href='./sheets/introduction.pdf'">
            <span>
              Introduction to Bourbaki
            </span>
            <span>›</span>
          </div>
          {{ range $p := . }}
            <div class="listing" onclick="location.href='./sheets/{{ $p.Name }}.html'" tabindex="0" onkeypress="location.href='./sheets/{{ $p.Name }}.html'">
            <span>
              {{ title $p.Name }}
            </span>
            <span>›</span>
          </div>
          {{ end }}
        </div>
    </div>
  </body>
</html>
