<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./fonts.css">
  </head>
  <body>
    <div class="header">
      <span class="listing no-border" id="header-trademark-and-title">
        <img id="header-trademark" src="../trademark.jpg" onclick="location.href='./index.html'">
        <span id="header-title"> Search </span>
      </span>
    </div>
    <div id="main-card" class="card">
      <form method="GET" id="search-form">
        <input id="search-input"class="listing" name="query" {{ if .Query }} value="{{ .Query }}"{{end}}/ placeholder="search...">
      </form>
      <div class="listing">
            <span class="result-detail">
        {{ len .Results }} results in {{ .SearchDuration | printf "%s" }}
        </span>
      </div>
      {{ range $i, $r := .Results }}
        <div tabindex="0" class="listing search-result" onclick="location.href='./sheets/{{ $r.Name}}.html'" onkeypress="location.href='./sheets/{{ $r.Name }}.html'">
          <div style="display:flex;flex-direction:column">
            <span>
              <b> {{ title $r.Name }} </b>
            </span>
            <span class="result-detail">
              Rank: {{ .Rank | printf "%.2f" }}
            </span>
            <span class="result-detail">
              Reasons: {{ reasons . }}
            </span>
          </div>
          <span style="align-self: center;">›</span>
        </div>
      {{end}}
    </div>
  </body>
    <span id="footer">
      Copyright 2021 The Bourbaki Authors. Version {{ .Version }}.
    </span>
</html>
