<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./fonts.css">
  </head>
  <body>
    <div class="header">
    <div class="left">
    <img src="../trademark.pdf" id="header-trademark" onclick="location.href='./index.html'" style="cursor:pointer">
    <h1> Search </h1>
    </div>
      <div class="center">
              <form method="GET">
                <input class="search" name="query" {{ if .Query }} value="{{ .Query }}"{{end}} autofocus/>
              </form>

      </div>
      <div class="right">
      </div>
    </div>
    <div class="page">
      <div class="content">
        <img src="../trademark.pdf" id="trademark">
        <h1>Search Results</h1>
          <div style="margin: 0px auto">
            {{ len .Results }} results in {{ .SearchDuration | printf "%s" }};
          </div>
          {{ range $i, $r := .Results }}
          <button tabindex="0" class="search-result" onclick="location.href='./sheets/{{ $r.Name}}.html'" onkeypress="location.href='./sheets/{{ $r.Name }}.html'">
          <b> {{ title $r.Name }} </b> <br>
          Rank: {{ .Rank | printf "%.2f" }}; Reasons: {{ reasons . }}
          </button>
          {{end}}
    </div>
  </div>
  </body>
  <script>
  </script>
</html>
