<!DOCTYPE html>
  <meta charset="utf-8"/>
  <head>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../fonts.css">
  </head>
  <body>
    <div class="header">
      <span class="listing no-border" id="header-trademark-and-title">
        <img id="header-trademark" src="../trademark.jpg" onclick="location.href='../index.html'">
        <span id="header-title" onclick="location.href='./{{ .Name }}.pdf'"> {{ title .Name }} </span>
      </span>
    </div>
    <div class="subheader">
      <div disabled class="need label"> Links: </div>
      <div class="need" tabindex="0" onclick="location.href='./{{ .Name }}.pdf'" onkeypress="location.href='./{{ .Name }}.pdf#page=2'">
        <span> Sheet PDF </span>
        <span class="caret">›</span>
      </div>
      <div class="need" tabindex="0" onclick="location.href='./{{ .Name }}-graph.pdf'" onkeypress="location.href='./{{ .Name }}-graph.pdf'">
        <span> Graph PDF </span>
        <span class="caret">›</span>
      </div>
      {{ if .Needs }}
        <div disabled class="need label"> Needs: </div>
        {{ range $k, $v := .Needs }}
            <div class="need" tabindex="0" onclick="location.href='./{{ $v }}.html'" onkeypress="location.href='./{{ $v }}.html'">
              <span>
                {{ title $v }}
              </span>
              <span class="caret">›</span>
            </div>
        {{ end }}
      {{ else }}
        <div disabled class="need label"> No needs. </div>
      {{ end }}
      {{ if .NeededBy }}
        <div disabled class="need label"> Needed by: </div>
        {{ range $k, $v := .NeededBy }}
          <div class="need" tabindex="0" onclick="location.href='./{{ $v }}.html'" onkeypress="location.href='./{{ $v }}.html'">
            <span>
            {{ title $v }}
            </span>
            <span class="caret">›</span>
          </div>
        {{ end }}
      {{ end }}
    </div>

      <link rel="stylesheet" href="../katex/katex.min.css">
      <script src="../katex/katex.min.js"></script>
      <script src="../katex/auto-render.min.js"></script>
      <script>
      document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(
          document.body,
          {
            delimiters: [
              {left: "$$", right: "$$", display: true},
              {left: "$", right: "$", display: false},
            ],
          },
        );
      });
    </script>
    <div id="sheet-card" class="card">
      {{ $.AST | printf "%s" }}
    </div>

    <iframe id="sheet-pdf" src="./{{ .Name }}.pdf#page=2">
    </iframe>

    <iframe id="graph-pdf" src="./{{ .Name }}-graph.pdf">
    </iframe>

  </body>
</html>`
