body {
  background: lightgray;
  display: flex;
  flex-direction: column;
  margin: 0;
}


#sheet-pdf, #graph-pdf {
  height: 11in;
  margin: 0.1in auto;
  border: none;
}

#graph-pdf {
  width: 8.5in;
}

#sheet-pdf {
  width: 17in;
}

#search-form {
  display: flex;
  flex-direction: column;
}

.search-results {
  display: flex;
  flex-direction:column
}

.search-result {
  cursor:pointer;
  border: 1px solid gray;
  padding 5px;
  padding: 12px;
  margin:3px;
  font-family: "Computer Modern Serif";
  text-align: left;
  font-size: 1em;
  background: none;
}

.header {
  background: white;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  margin: 0;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header > .left,
.header > .center,
.header > .right {
  display: flex;
  flex-direction:row;
  font-size: 1em;
}

.header > .left {
  align-items: center;
}

.header > .center {
  justify-self: center;
}

.header > .center {
  align-items: center;
}

#header-trademark-and-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-trademark {
  width: 0.3in;
  height: 0.3in;
  cursor: pointer;
  margin-right: 0.1in;
}

#header-title {
  font-family: "Computer Modern Sans";
  font-size: 0.17in;
}

#header-search {
  border: none;
  background: none;
  font-family: "Computer Modern Sans";
  font-size: 0.2in;
  text-align: left;
  padding: 0.2in;
  margin: 0 0.5in;
  display: flex;
  justify-content: space-between;
}


.header > .center > form > input {
  max-width: 9in;
  min-width: 5in;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  margin-top: 0.07in;
  font-family: "Computer Modern Sans";
}

.ss {
  font-family: "Computer Modern Sans";
  color: red;
}


.subheader {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  background: white;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
  padding: 0.1in;
  align-items: center;
}

.no-border-top {
  border-top: none;
}

.no-border-bottom {
  border-bottom: none;
}

.need {
  margin: 0.05in 0.05in;
  align-items: center;
  border: 1px solid gray;
  color: black;
  background: none;
  border-radius: 3px;
  height: 0.33in;
  font-family: "Computer Modern Sans";
  font-size: 0.17in;
  padding: 0.05in 0.1in;
  vertical-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.label {
  cursor: default;
  padding: 0.05in;
  margin: 0.05in 0.05in;
  color: gray;
  font-weight: bold;
  font-family: "Computer Modern Sans";
  height: 0.33in;
  font-size: 0.17in;
  vertical-align: center;
  border: none;
}

.listing {
  align-items: center;
  background: none;
  border: 1px solid lightgray;
  cursor: pointer;
  display: flex;
  font-family: "Computer Modern Sans";
  font-size: 0.2in;
  justify-content: space-between;
  margin: 0 0.5in;
  padding: 0.2in;
  text-align: left;
}

.no-border-bottom {
  border-bottom: none;
}

.card {
  background: white;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
}

#main-card {
  border-top: none;
}

#search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-input {
  width: 100%;
  margin: 0 0.5in;
  border-radius: 0;
}

.caret {
  display: none;
}

#sheet-card {
  margin: 0;
  border-top: none;
  align-self: center;
  display: none;
}

.sheet-listing {
  align-items: center;
  background: none;
  display: flex;
  font-size: 0.2in;
  justify-content: space-between;
  text-align: left;
}

h1.sheet {
  max-width 5in;
  font-family: "Computer Modern Serif";
  font-size: 0.35in;
  margin: 0.15in 0.5in;
}

h2.sheet {
  max-width 5in;
  font-family: "Computer Modern Serif";
  font-size: 0.3in;
  margin: 0.1in 0.5in;
}

p.sheet {
  max-width 5in;
  font-family: "Computer Modern Serif";
  margin: 0;
  font-size: 0.25in;
  line-height: 0.4in;
  margin: 0 0.5in;
  text-align: justify;
  text-indent: 0.5in;
}

.katex {
  font-size: 0.25in !important;
}

@media (max-device-width: 800px) {
  body {
  }

  #main-card {
    width: 100%;
  }

  .left {
    flex-direction: column;
  }

  #trademark {
    width: 0.8in;
    align-self: center;
  }

  #header-trademark {
    width: 0.8in;
    height: 0.8in;
    margin-right: 0.2in;
  }

  #header-title {
    font-size: 0.7in;
  }

  .listing {
    margin: 0;
    font-size: 0.6in;
    padding: 0.5in;
  }

  #search-input {
    margin: 0;
  }


  #header-search {
    margin: 0;
    font-size: 0.6em;
    padding: 0.5in;
  }

  .need {
    font-size: 0.7in;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0.3in;
    text-align: left;
    padding-left: 0.6in;
    padding: 0.5in;
  }

  .label {
    font-size: 0.6in;
    padding-left: 0.2in;
    border: none;
    margin-top: 0.2in;
  }

  .result-detail {
    margin-left: 0.3in;
    font-size: 0.4in;
  }

  .caret {
    display: block;
  }

  #sheet-pdf, #graph-pdf {
    display: none;
  }

  h1.sheet {
    font-size: 0.9in;
    margin: 0.25in 0.5in;
  }

  h2.sheet {
    font-size: 0.8in;
    margin: 0.1in 0.5in;
  }

  p.sheet {
    text-indent: 0.5in;
    font-size: 0.65in;
    line-height: 0.9in;
    margin: 0 0.5in;
  }

  .katex {
    font-size: 0.6in !important;
  }
}

.no-border {
  border: none;
}

#footer {
  font-family: "Computer Modern Serif";
  color: gray;
  text-align: center;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: antiquewhite;
    background: black;
  }

  .header {
    background: black;
  }

  .card {
    background: black;
  }

  .subheader {
    background: black;
    color: antiquewhite;
  }

  .need {
    color: antiquewhite;
  }

  #page1 {
    filter: invert(100%);
  }

  #page2 {
    filter: invert(100%);
  }

  #page3 {
    filter: invert(100%);
  }

  #header-trademark {
    filter: invert(100%);
  }

  input {
    color: antiquewhite;
  }

  img {
    filter: invert(100%);
  }

}

.lit {
  margin: 1em auto;
  font-family: Computer Modern Serif;
  max-width: 6in;
  text-align: justify;
}

.smallcaps {
  font-variant: small-caps;
}

.term {
  font-style: italic;
}

h1 {
  font-size: 1.0em;
  font-family: Computer Modern Sans;
}

h2 {
  font-size: 0.9em;
  font-family: Computer Modern Sans;
}

h2 {
  font-size: 0.8em;
  font-family: Computer Modern Sans;
}
